body{
	overflow:hidden;
	cursor: none;
	background-color:#F7FFF4;
}

.player{
	width:120px;
	height:30px;
	position:absolute;
	left:45%;
	bottom:0px;
	border-radius: 20px;
  	background: #BADA55;
}

.ball{
  display: block;
  background: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0;
  position:absolute;
  left:45%;
}

.ball2{
  display: block;
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0;
  position:absolute;

  left:15%;
}

.ball3{
  display: block;
  background: orange;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0;
  position:absolute;

  left:30%;
}

.result_holder{
	position: fixed;
	top:0px;
	left:0px;
	background-color:#EEE;
	padding:20px;
}

.result_holder .goals{
	color:green;
}

.result_holder .fails{
	color:red;
}